%has-text {
  font-family: Roboto, Arial;
  border-radius: 4px;
  margin: 6px;
}

.wrapper {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  @extend %has-text;
  min-width: 200px;
}

button {
  @extend %has-text;
  padding: 5px 10px;
}

span {
  @extend %has-text;
  color: red;
}

form {
  * {
    text-align: center;
  }
}
