<div class="wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h4>Login</h4>
    <div>
      <input type="text" id="email" formControlName="email" placeholder="Email">
    </div>
    <div></div>
    <div>
      <input type="text" id="username" formControlName="username" placeholder="Username">
    </div>
    <div>
      <span *ngIf="!isValid">Invalid credential!</span>
    </div>
    <div>
      <button class="" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </div>
  </form>
</div>